h1 {
   font-family: 'Playball', cursive;
 }
 body{
   font-size: 15px;
   background: rgb(149 , 194, 215);
 }
a {
  text-decoration: none;
}

.logo-text{
  background: white;
  font-family:  'Playball', cursive;;
  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
}
.thumbnail-item{
  border: 1px solid;
  display: block;
}
